<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de - Mundo FastAPI</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="sintomas.html">Sintomas</a>
        <a href="causas.html">Causas</a>
        <a href="diagnosticos.html">Diagnosticos</a>
        <a href="tratamiento.html">Tratamiento</a>
        <a href="contacto.html">Contacto</a>
    </nav>

<main>
    <h1>Enfermedad de Alzheimer</h1>
        <img src="../static/imag/1.webp" alt="cerebro img" class="logo">

    <div class="card">
        <h3>¿Qué es y cuáles son sus causas?</h3>
        <p>
            Es un trastorno cerebral donde las neuronas se dañan y mueren por la acumulación de 
            <strong>placas amiloides</strong> y <strong>ovillos de proteína tau</strong>. Esto 
            interrumpe la comunicación celular y reduce el tejido cerebral con el tiempo.
        </p>
    </div>

    <div class="card">
        <h3>Factores de Riesgo</h3>
        <p>
            Aunque la <strong>edad avanzada</strong> es el principal riesgo, influyen otros factores como:
            la genética (gen APOE e4), antecedentes familiares, síndrome de Down, 
            estilos de vida sedentarios y problemas cardiovasculares como la hipertensión.
        </p>
    </div>

    <div class="card">
        <h3>Prevención y Estilo de Vida</h3>
        <p>
            No se puede prevenir con certeza, pero el riesgo disminuye con: 
            <strong>ejercicio regular</strong>, una <strong>dieta mediterránea</strong>, 
            control de la salud auditiva/visual y manteniéndose social y mentalmente activo.
        </p>
    </div>

    

    <h2>Navegación Informativa</h2>
    <p>Utiliza los botones para conocer más detalles sobre el cuidado y diagnóstico:</p>
    <div class="menu-botones">
        <a href="../index.html" class="btn">← Volver al Inicio</a>
        <a href="diagnosticos.html" class="btn">Diagnosticos →</a>
    </div>
</main>
</body>
</html>