<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de - Mundo FastAPI</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="sintomas.html">Sintomas</a>
        <a href="causas.html">Causas</a>
        <a href="diagnosticos.html">Diagnosticos</a>
        <a href="tratamiento.html">Tratamiento</a>
        <a href="contacto.html">Contacto</a>
    </nav>

    <main>
        <h1>Sintomas</h1>
                <img src="../static/imag/1.webp" alt="cerebro img" class="logo">

        <p>
          La pérdida de memoria es el síntoma clave de la enfermedad de Alzheimer. En la primera etapa de la enfermedad, las personas pueden tener problemas para recordar eventos o conversaciones recientes. Con el tiempo, la memoria empeora y se manifiestan otros síntomas.
        </p>

        <p>
            Al principio, es posible que alguien con la enfermedad reconozca problemas para recordar las cosas y pensar con claridad. A medida que los signos y síntomas empeoran, hay más posibilidades de que un familiar o amigo note los problemas.
        </p>
    
        <p>
            Los cambios cerebrales de la enfermedad de Alzheimer derivan en los siguientes síntomas, que empeoran con el tiempo.
        </p>

        <div class="card">
            <h3>Memoria</h3>
            <p>
                Todas las personas tienen problemas de memoria de vez en cuando, pero la pérdida de memoria relacionada con la enfermedad de Alzheimer es permanente. Con el tiempo, la pérdida de la memoria afecta la capacidad de la persona para desenvolverse en el trabajo y en casa.
            </p>

            <p>
                Las personas con enfermedad de Alzheimer podrían pasar por las siguientes situaciones:
            </p>

            <ul>
                <li>Repetir afirmaciones y preguntas una y otra vez.</li>
                <li>Olvidar conversaciones, citas médicas o eventos.</li>
                <li>Extraviar artículos y, a menudo, ponerlos en lugares en los que no tiene sentido hacerlo.</li>
                <li>Perderse en lugares que solían conocer bien.</li>
                <li>Olvidar los nombres de familiares y de objetos de uso cotidiano.</li>
                <li>Tener problemas para encontrar las palabras adecuadas, expresar pensamientos o mantener conversaciones.</li>
            </ul>

        </div>

        <div class="card">
            <h3>El pensamiento y el razonamiento</h3>
            <p>
                La enfermedad de Alzheimer dificulta concentrarse y pensar, en especial sobre conceptos abstractos, como los números. Hacer más de una tarea a la vez resulta especialmente difícil. Gestionar la economía, poner al día las cuentas y pagar las facturas a tiempo puede ser complicado. Con el tiempo, las personas con enfermedad de Alzheimer pueden llegar a no reconocer los números.
            </p>
       
        </div>

        <div class="card">
            <h3>Planificar y realizar actividades familiares</h3>
            <p>
               Las actividades de rutina que implican completar pasos en un orden determinado también pueden resultar difíciles para las personas con esta enfermedad. Les puede costar planificar y elaborar una comida, o jugar un juego favorito. A medida que el alzhéimer avanza, las personas olvidan cómo hacer tareas básicas, como vestirse y bañarse.
            </p>
       
        </div>

        <div class="card">
            <h3>Cambios en la personalidad y en la conducta</h3>
            <p>
                Los cambios que la enfermedad de Alzheimer produce en el cerebro pueden afectar el estado de ánimo y el comportamiento. Los síntomas pueden incluir los siguientes:
            </p>

            <ul>
                <li>Depresión.</li>
                <li>Pérdida de interés por actividades.</li>
                <li>Aislamiento social.</li>
                <li>Cambios en el estado de ánimo.</li>
                <li>Falta de confianza en los demás.</li>
                <li>Ira o agresividad.</li>
                <li>Cambios en los hábitos de sueño.</li>
                <li>Desorientación.</li>
                <li>Desinhibición.</li>
                <li>Ideas delirantes, como creer que le han robado algo, cuando no es así.</li>
            </ul>

        </div>

        <div class="card">
            <h3>Habilidades preservadas</h3>
            <p>
                A pesar de los cambios importantes en la memoria y las habilidades, las personas que tienen la enfermedad de Alzheimer pueden conservar ciertas habilidades, aun cuando los síntomas empeoran. Se conocen como habilidades preservadas. Entre ellas pueden estar: leer o escuchar libros, contar historias, compartir recuerdos, cantar, escuchar música, bailar, dibujar o hacer manualidades.
            </p>

            <p>
                Estas habilidades pueden conservarse durante más tiempo porque las controlan partes del cerebro que se ven afectadas en etapas posteriores de la enfermedad.
            </p>

        </div>

         <did class="card">
            <h3>Cuándo debes consultar con un médico</h3>
            <p>
                Varias afecciones pueden causar pérdida de la memoria u otros síntomas de demencia. Algunas de ellas pueden tratarse. Si te preocupa tu memoria u otra habilidad del pensamiento, habla con un profesional de atención médica.
            </p>

            <p>
                Si te preocupan las habilidades del pensamiento que observas en un familiar o amigo, puedes proponerle ir juntos a ver a un profesional de atención médica.
            </p>

        </div>

        <h2>Botones de Navegación</h2>
        <p>También puedes usar los botones del menú inferior:</p>
        <div class="menu-botones">
            <a href="../index.html" class="btn">← Volver al Inicio</a>
            <a href="causas.html" class="btn">Causas →</a>
        </div>

        

    </main>

    

</body>
</html>